<!DOCTYPE html>
<html lang="en" ng-app="curveApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="mainCtrl">
  <div id="controlArea">
    <table>
      <tr>
        <td><label>textColor:</label></td>
        <td><input type="text" ng-model="textColor"></td>
      </tr>
      <tr>
        <td><label>fontSize:</label></td>
        <td> <input type="number" ng-model="fontSize"></td>
      </tr>
      <tr>
        <td><label>backColor:</label></td>
        <td>   <input type="text" ng-model="backColor"></td>
      </tr>
      <tr>
        <td><label>circleSize:</label></td>
        <td><input type="number" ng-model="circleSize"></td>
      </tr>
      <tr>
        <td><label>curvature:</label></td>
        <td><input type="number" ng-model="curvature"></td>
      </tr>
      <tr>
        <td><label>under:</label></td>
        <td><input type="checkbox" ng-model="under"></td>
      </tr>
      <tr>
        <td><label>lineSides:</label></td>
        <td> <input type="checkbox" ng-model="lineSides"></td>
      </tr>
      <tr>
        <td><label>lineOnTop:</label></td>
        <td> <input type="checkbox" ng-model="lineOnTop"></td>
      </tr>
      <tr>
        <td> <label>lineOnBottom:</label></td>
        <td>   <input type="checkbox" ng-model="lineOnBottom"></td>
      </tr>
      <tr>
        <td><label>lengthOfLines:</label></td>
        <td><input type="number" ng-model="lengthOfLines"></td>
      </tr>
      <tr>
        <td><label>lineColor:</label></td>
        <td> <input type="text" ng-model="lineColor"></td>
      </tr>
    </table>


    <div class="theCode">
      let el = curveText({
      <br>
  
      <span ng-if="textColor">{{twoSpaces}}textColor: {{textColor}},<br></span>
      <span ng-if="fontSize">{{twoSpaces}}fontSize: {{fontSize}},<br></span>
      <span ng-if="backColor">{{twoSpaces}}backColor: {{backColor}},<br></span>
      <span ng-if="circleSize">{{twoSpaces}}circleSize: {{circleSize}},<br></span>
      <span ng-if="curvature">{{twoSpaces}}curvature: {{curvature}},<br></span>
      <span ng-if="under">{{twoSpaces}}under: {{under}},<br></span>
      <span ng-if="lineSides">{{twoSpaces}}lineSides: {{lineSides}},<br></span>
      <span ng-if="lineOnTop">{{twoSpaces}}lineOnTop: {{lineOnTop}},<br></span>
      <span ng-if="lineOnBottom">{{twoSpaces}}lineOnBottom: {{lineOnBottom}},<br></span>
      <span ng-if="lengthOfLines">{{twoSpaces}}lengthOfLines: {{lengthOfLines}},<br></span>
      <span ng-if="lineColor">{{twoSpaces}}lineColor: {{lineColor}}<br></span>
     
      })
    </div>


  </div>

</div><div id="displayArea"></div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>





<!-- text:" This text will go around and around ",
    // textColor:"blue",
    fontSize:2,
    circleSize:10000,
    curvature:.1,
    // under:true,
    // backColor: "lightgreen",
    lineSides: true,
    // lineOnTop:1,
    // lineOnBottom:1,
    // lengthOfLines:4,
    lineColor:"red",
    }) -->