<!DOCTYPE html>
<html lang="en" ng-app="curveApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="mainCtrl">
  <div class="string">
    <label>Your string to curve:</label>
    <input type="text" ng-model="textToCurve" ng-change="applyCurve()">
  </div>
  <div id="controlArea">
    <table>
      <tr>
        <td><label>textColor:</label></td>
        <td><input type="text" ng-model="textColor" ng-blur="applyCurve()"></td>
      </tr>
      <tr>
        <td><label>fontSize:</label></td>
        <td> <input type="number" ng-model="fontSize" ng-change="applyCurve()"></td>
      </tr>
      <tr>
        <td><label>backColor:</label></td>
        <td>   <input type="text" ng-model="backColor" ng-blur="applyCurve()"></td>
      </tr>
      <tr>
        <td><label>circleSize:</label></td>
        <td><input type="number" step="10" value="200" ng-model="circleSize" ng-change="applyCurve()"></td>
      </tr>
      <tr>
        <td><label>curvature:</label></td>
        <td><input type="number" step="0.05" value="0.3" max="1" min="-1" ng-model="curvature" ng-change="applyCurve()"></td>
      </tr>
      <tr>
        <td><label>under:</label></td>
        <td><input type="checkbox" ng-model="under" ng-change="applyCurve()"></td>
      </tr>
      <tr>
        <td><label>lineSides:</label></td>
        <td> <input type="checkbox" ng-model="lineSides" ng-change="applyCurve()"></td>
      </tr>
      <tr>
        <td><label>lineOnTop:</label></td>
        <td> <input type="checkbox" ng-model="lineOnTop" ng-change="applyCurve()"></td>
      </tr>
      <tr>
        <td> <label>lineOnBottom:</label></td>
        <td>   <input type="checkbox" ng-model="lineOnBottom" ng-change="applyCurve()"></td>
      </tr>
      <tr>
        <td><label>lengthOfLines:</label></td>
        <td><input type="number" ng-model="lengthOfLines" ng-change="applyCurve()"></td>
      </tr>
      <tr>
        <td><label>lineColor:</label></td>
        <td> <input type="text" ng-model="lineColor" ng-blur="applyCurve()"></td>
      </tr>
    </table>


    <div class="theCode">
      let el = curveText({
      <br>
      <span ng-if="textToCurve">{{twoSpaces}}text: "{{textToCurve}}",<br></span>
      <span ng-if="textColor">{{twoSpaces}}textColor: "{{textColor}}",<br></span>
      <span ng-if="fontSize">{{twoSpaces}}fontSize: {{fontSize}},<br></span>
      <span ng-if="backColor">{{twoSpaces}}backColor: "{{backColor}}",<br></span>
      <span ng-if="circleSize">{{twoSpaces}}circleSize: {{circleSize}},<br></span>
      <span ng-if="curvature">{{twoSpaces}}curvature: {{curvature}},<br></span>
      <span ng-if="under">{{twoSpaces}}under: {{under}},<br></span>
      <span ng-if="lineSides">{{twoSpaces}}lineSides: {{lineSides}},<br></span>
      <span ng-if="lineOnTop">{{twoSpaces}}lineOnTop: {{lineOnTop}},<br></span>
      <span ng-if="lineOnBottom">{{twoSpaces}}lineOnBottom: {{lineOnBottom}},<br></span>
      <span ng-if="lengthOfLines">{{twoSpaces}}lengthOfLines: {{lengthOfLines}},<br></span>
      <span ng-if="lineColor">{{twoSpaces}}lineColor: "{{lineColor}}"<br></span>
      })
    </div>
  </div>

</div><div id="displayArea">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="textCurve.js"></script>
<script src="main.js"></script>
</body>
</html>

